<nav class="navbar navbar-light bg-light">
  <div class="container-fluid">
    <div class="d-flex">
      <img src="https://ouvrages.io/assets/logo-ouvrages-1ea2cb72306cedf7661d22770b3d3614827928c8ffedbcd4762b132c6414d633.svg" alt=""  height="40" class="d-inline-block align-text-top mr-4">
    </div>
  </div>
</nav>
<div class="container mx-auto bg-success p-2 text-dark bg-opacity-10" style="width: 600px;">
  <p class="ml-4 ">Test Ouvrages</p>
</div>
